body {
    font-family: 'Lato', sans-serif;
}

.NavBar {
    display: flex;
    justify-content: space-around;
    background-color: #181821;
    margin: 20px;
    border-radius: 1rem;
    font-size: 12px;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}  

.NavItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: lightyellow;
    flex: 1;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .NavItem.active {
    color: #00c8fb;
    background-color: #181821;
    border-radius: 1rem;
    -webkit-tap-highlight-color: transparent;
  }
  
  .NavIcon {
    font-size: 24px;
    margin-bottom: 2px;
  }
  