.statistics h2 {
    margin-left: 12px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.statistics .second-title {
    margin-top: 30px;
}

.top-token-item {
    margin: 0px 12px;
    border: 2px solid #00c8fb;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 10px;
    padding-bottom: 4px;
}

.top-token-item-first-row {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.top-token-item-first-row .name-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.top-token-item-first-row img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.top-token-item-first-row .title {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

.top-token-item .table-item-data {
    font-size: 16px;
    justify-content: space-around;
    margin-bottom: 0px;
}

.stats-top5-tokens {
    margin: 8px;
    border-radius: 6px;
    border: 1px solid #00c8fb;
    background-color: #1f232d;
}




.top-table-container {
    border-radius: 10px;
    padding: 20px;
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding-top: 0;
  }
  
  .top-callers-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .top-callers-table thead th {
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #00c8fb;
    font-size: 16px;
  }
  
  .top-callers-table tbody tr td {
    padding: 6px 4px;
    font-size: 14px;
    color: #e0e6f1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }

  .top-callers-table tbody tr td:first-child {
    white-space: normal;
    word-wrap: break-word;
    max-width: 150px;
  }
  
  .top-callers-table td {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .top-callers-table tbody tr td.green {
    color: rgb(27, 255, 31);
    font-weight: bold;
  }